h1 {text-align: center;}

#ima1 {width: 40%;}
#ima1 {margin-left: 32%;}


body {background-color:beige}

#ima3 {width: 42%;}
#ima3 {margin-left: 32%;}

h2 {color:hotpink}
p {margin-left: 73%;}

#ima2 {margin-left: 32%;}
#ima2 {width: 42%;}